%h1 My DnD
%h2= "Master: #{@username}"
%h3 Created sessions:
- @createdsessions.each do |session|
  %h3= link_to "Session: #{session.title}", session_path(session.id)

%td= button_to "Home", home_path, :method => :get
