%h1 My DnD
-if current_user.has_role?(:master)
  %h2= "Master:  #{@username}"
  %h3 Active sessions
  -@activesessions.each do |session|
    - if current_user.id==session.master_id
      %h3= link_to "Session: #{session.title}", session_path(session.id)
-elsif current_user.has_role?(:player)
  %h2= "Player: #{@username}"
  %h3 Active sessions
  - @activesessions.each do |session|
    - @partecipations.each do |partecipation|
      - if session.id==partecipation.session_id
        %h3= link_to "Session: #{session.title}", session_path(session.id)
        =form_tag destroy_user_session_path, :method => :get do
          =submit_tag 'Logout'

%td= button_to "Home", home_path, :method => :get
