%h1 My DnD
%h2 Create a new session!

= form_tag sessions_path, :method => :post do

  = label :session, :title, 'Title'
  = text_field :session, :title
  %br/
  = label :session, :date, 'Date'
  = date_select :movie, :release_date
  %br/
  = label :session, :location, 'Location'
  = text_field :session, :location
  %br/
  = label :session, :description, 'Description'
  = text_field :session, :description
  %br/
  = label :session, :type, 'Type'
  = select :session, :type, ['cartaceo','online']
  %br/
  = label :session, :version, 'Version'
  = text_field :session, :version
  %br/
  = submit_tag 'Create session'

.radio
  %label
    %input{name: "Privacy", type: "radio", value: "private"}
    Private
