%h1 My DnD
-if current_user.has_role?(:notdefined)
  = form_tag home_path, :method => :post do
    = select :user, :roles_mask, [["Master", 1], ["Player", 2]]
    = submit_tag 'Save Changes'
-elsif current_user.has_role?(:master)
  %h2= "Master: #{@username}"
  %h3= link_to "Created sessions", created_sessions_path
  %h3= link_to "Active sessions", active_sessions_path
  %h3= link_to "Ended sessions", closed_sessions_path
  =form_tag new_session_path, :method => :get do
    =submit_tag 'Create a new sessions'
  =form_tag edit_user_registration_path, :method => :get do
    =submit_tag 'Change username and password'
-elsif current_user.has_role?(:player)
  %h2= "Player: #{@username}"
  %h3= link_to "Joined sessions", joined_sessions_path
  %h3= link_to "Ended sessions", closed_sessions_path
  %h3= link_to "Invitations", invitations_path
  =form_tag join_sessions_path, :method => :get do
    =submit_tag 'Join a new session'
  =form_tag block_invitation_path, :method => :get do
    =submit_tag 'Block invitation'
  =form_tag edit_user_registration_path, :method => :get do
    =submit_tag 'Change username and password'
-elsif current_user.has_role?(:admin)
  %h2= "Admin: #{@username}"
  %h3= link_to "Reported sessions", reported_sessions_path
  =form_tag edit_user_registration_path, :method => :get do
    =submit_tag 'Change username and password'
=form_tag destroy_user_session_path, :method => :delete do
  =submit_tag 'Log out'
%h3= "Latest Tweets #DungeonsAndDragons"
%section#tweets
  %ul
    - @tweets.each do |tweet|
      %li= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}/status/#{tweet.id}"
