%h1 MyDnD

%h2 Session: #{@session.title}

%h2 Master: #{@master_username}

%h2 Create a new match!

%br/

= form_tag session_matches_path(@session), :method => :post do
    = label :match, :title, 'Title'
    = text_field :match, :title
    %br/
    %br/
    = label :match, :data, 'Date'
    = date_select :match, :data
    %br/
    %br/
    = submit_tag 'Create'
