%h1 MyDnD

%h3 Session: #{@session.title}

%h3 Master: #{@master_username}

%h2 Match: #{@match.title}

%h3= "Date: #{@match.data}"

%h3= "Summary: #{@match.summary}"

%h3 Flickr photos:
- @photos.each do |photo|
    - s="Session"+@session.title+"match"+@match.title
    - if photo.title.to_s.casecmp?(s)
        %img(src = "#{photo.url}")
%br/
%br/
- if current_user.has_role?(:master)
    = form_tag add_photo_match_path(@session,@match), :method => :put, :multipart => true do
        = file_field_tag 'images[]', multiple: true
        = submit_tag 'Add photo to flickr'
%br/
%br/
- if !(@match.status)
    %h3= "Like: #{@match.like}"
%br/
%br/
- if !(@match.status)
    %td= button_to "Like!", i_like_match_path(@session,@match), :method => :get
    %br/
- if @match.status
    - if current_user.has_role?(:master)
        %td= button_to "Add summary and close", close_match_path(@session,@match), :method => :get

%br
%td= button_to "Back to Session", session_path(@session), :method => :get
